<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.hb.springframework.test.bean.UserDao"/>

    <bean id="userService" class="com.hb.springframework.test.bean.UserService">
        <property name="uId" value="10086"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>